.section {
	width: 100%;
	font-family: 'ModernSans';
}

body {
	/*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
					url("imgs/placeholder.jpg");
	background-repeat: repeat;
	background-color: red;*/
}

/* Background */
#bgimg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
	opacity: 0.35;
}

/* ------- MAIN ------- */
#main {
	width: 100%;
	/* Remove 80px navbar space */
	height: calc(100% - 80px);
}

#main h1, h2 {
	text-align: center;
	color: var(--dark);
}

#main h1 {
	font-size: 80px;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-top: 50px;
}

#main .buttons {
	width: 100%;
	height: 50px;
	text-align: center;
}

#main .buttons .buttonContainer button {
	height: 50px;
	font-family: ModernSans;
	font-weight: bold;
	font-size: 30px;
	outline: none;
	border: 2px solid var(--shade);
	color: var(--shade);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0);
	padding: 0px 30px;
	transition: border 0.2s ease;
	transition: color 0.2s ease;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}

#main .buttons .buttonContainer button:hover {
	border: 2px solid var(--mid);
	color: var(--mid);
}
/* ------- MAIN END ------- */

/* ------- GUARANTEE ------- */
#guarantee {
	width: 100%;
	height: 250px;
	background-color: white;
}
/* ------- GUARANTEE END ------- */
