.section {
	width: 100%;
	font-family: 'ModernSans';
}

.checked {
	color: orange;
}

.fa.fa-star {
	font-size: 25px;
}

body {
	/*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
					url("imgs/placeholder.jpg");
	background-repeat: repeat;
	background-color: red;*/
}

/* Background */
#bgimg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
	opacity: 0.35;
	transition: 0.2s ease;
}

/* ------- MAIN ------- */
#main {
	width: 100%;
	/* Remove 80px navbar space */
	height: calc(100% - 80px);
}

#main h1, h2 {
	text-align: center;
	color: black;
	font-family: 'Evogria';
}

@keyframes float-noshadow-moderate {
	0% {
		transform: translatey(5px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(5px);
	}
}

#main h1 {
	font-size: 90px;
	color: linear-gradient(to right, #121FCF 0%, #3CB2CF 100%);;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-top: 100px;
	animation: float-noshadow-moderate 6s ease-in-out infinite;
}

#main .buttons {
	width: 100%;
	height: 50px;
	text-align: center;
}

#main .buttons .buttonContainer button {
	height: 50px;
	font-family: ModernSans;
	font-weight: bold;
	font-size: 30px;
	outline: none;
	border: 2px solid var(--shade);
	color: var(--shade);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0);
	padding: 0px 30px;
	transition: border 0.2s ease;
	transition: color 0.2s ease;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}

#main .buttons .buttonContainer button:hover {
	border: 2px solid var(--mid);
	color: var(--mid);
}
/* ------- MAIN END ------- */

/* ------- GUARANTEE ------- */
#guarantee {
	width: 100%;
	height: 630px;
	background-color: white;
	z-index: 2;
}

#guarantee .content {
	height: 500px;
	width: calc(100% - 100px);
	padding-top: 80px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	column-count: 2;
}

#guarantee .content .contentSection:first-child {float: left;}
#guarantee .content .contentSection:last-child {float: right;}

/* Transitioning */
#guarantee .content .contentSection.inactive {opacity: 0;}
#guarantee .content .contentSection:first-child.inactive {margin-left: -500px;}
#guarantee .content .contentSection:last-child.inactive {margin-right: -500px;}

#guarantee .content .contentSection {
	height: 100%;
    width: 90%;

	padding-left: 15px;
	padding-right: 15px;
	opacity: 1;

	transition: margin-left 1s ease, margin-right 1s ease, opacity 1.5s ease;
}

#guarantee .content .contentSection h1 {
	font-family: 'Evogria';
	font-size: 80px;
	letter-spacing: 5px;
	line-height: 8s0px;
	color: var(--shade);
	text-shadow: 0 1px 0 var(--dark), 0 2px 0 var(--dark);
	float: left;
}

#guarantee .content .contentSection .imgwrapper .img {
	float: right;
	display: block;
	max-width: 290px;
	max-height: 500px;
	width: auto;
	height: auto;
}

#guarantee .content .contentSection.left .imgwrapper {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

/* Flash fast */
.flashfast {
	transition: color 0.3s ease-out;
}

.flashfast.lightUp {
	color: rgb(161, 224, 27);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* ------- GUARANTEE END ------- */

/* ------- REPAIR DETAILS ------- */
#repairDetails {
	height: 500px;
	background: rgb(191,197,201);
	background: -moz-linear-gradient(180deg, rgba(191,197,201,1) 78%, rgba(165,223,232,0) 100%);
	background: -webkit-linear-gradient(180deg, rgba(191,197,201,1) 78%, rgba(165,223,232,0) 100%);
	background: linear-gradient(180deg, rgba(191,197,201,1) 78%, rgba(165,223,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfc5c9",endColorstr="#a5dfe8",GradientType=1);
}

#repairDetails h1 {
	text-align: center;
	font-size: 60px;
	margin-top: 0;
	padding-top: 50px;
	position: relative;
	bottom: 0;
	transition: 1s ease;
	opacity: 1;
}

#repairDetails h1.inactive {
	bottom: 150px;
	opacity: 0;
}

#repairDetails .grid {
	display: grid;
	width: 100%;
	height: 340px;
	grid-template-columns: 20% 20% 20% 20% 20%;

	position: relative;
	bottom: 0;
	opacity: 1;
	transition: 1s ease;
}

#repairDetails .grid.inactive {
	bottom: -80px;
	opacity: 0;
}

#repairDetails .grid .col {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border-radius: 30px;
	transition: 0.2s ease;
}

#repairDetails .grid .col:hover img {
	margin-top: -20px;
}

#repairDetails .grid .col:hover h2 {
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

#repairDetails .grid .col img {
	display: block;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: 0.2s ease;
	animation: float-noshadow 6s ease-in-out infinite;
}

@keyframes float-noshadow {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#repairDetails .grid .col h2 {
	font-size: 40px;
	margin-top: 0px;
	transition: 0.2s ease;
}

/* ------- REPAIR DETAILS END ------- */

/* ------- REVIEWS ------- */
#reviews {
	height: 550px;
}

#reviews .paddingcontainer {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

#reviews .paddingcontainer h1 {
	margin-right: 0;
	font-size: 60px;
	animation: float-noshadow-weak 6s ease-in-out infinite;
	transition: right 1s ease, opacity 2s ease;
}

#reviews .paddingcontainer .slidein {
	position: relative;
	right: 0;
	opacity: 1;
}

#reviews .paddingcontainer .slidein.inactive {
	opacity: 0;
	right: 800px;
}

#reviews .paddingcontainer .quote {
	width: 50%;
	height: 250px;
	float: left;

	border: 1px solid rgb(82, 93, 113);
	border-radius: 20px;

	position: relative;
	transition: 1s ease;
}

#reviews .paddingcontainer .quote.inactive {
	opacity: 0;
}

#reviews .paddingcontainer .quote h2 {
	margin-top: 0;
	margin-bottom: 0;
}

#reviews .paddingcontainer .quote .quotemark {
	padding-left: 15px;
	padding-right: 15px;
}

#reviews .paddingcontainer .quote .startquote {
	text-align: left;
	padding-top: 20px;
	line-height: 0.3;
}

#reviews .paddingcontainer .quote .endquote {
	text-align: right;
	padding-right: 40px;
}

#quote {
	padding-left: 30px;
	padding-right: 30px;
	font-style: italic;
	text-align: left;
	margin: none;
}

#author::before {
	content: '- ';
}

#author {
	padding-left: 50px;
	text-align: left;
	text-shadow: 0 1px 0 var(--dark), 0 2px 0 var(--dark);
	float: left;
}

#reviews .paddingcontainer .quote .rating {
	float: left;

    padding-left: 15px;
    font-size: 10px;
    padding-top: 4px;
	animation: float-noshadow-weak 6s ease-in-out infinite;
}

@keyframes float-noshadow-weak {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-4px);
	}
	100% {
		transform: translatey(0px);
	}
}

#reviews .paddingcontainer .quote .rating .fa.fa-star {
	font-size: 20px;
}

#reviews .paddingcontainer .quote .bar {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 40px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 1px solid rgb(82, 93, 113);
	background-color: rgba(154, 154, 154, 0.62);

	display: grid;
	grid-template-columns: 40px calc(100% - 80px) 40px;
}

#reviews .paddingcontainer .quote .bar .buttonContainer {
	display: flex;
	justify-content: center;
}

#reviews .paddingcontainer .quote .bar .buttonContainer button {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	padding-left: 0;
	padding-right: 0;

	background-color: var(--white);
	color: var(--dark);
	font-family: 'ModernSans';
	font-size: 16px;

	outline: none;
	border: none;
	text-decoration: none;
	cursor: pointer;

	margin-top: 4px;
	transition: 0.2s ease;
}

#reviews .paddingcontainer .quote .bar .buttonContainer button:hover {
	background-color: #cdccb8;
}

#reviews .paddingcontainer .quote .bar .dotContainer {
	display: flex;
	justify-content: center;
}

#reviews .paddingcontainer .quote .bar .dotContainer div {
	background-color: rgb(46, 54, 69);
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: auto;
	margin-bottom: auto;
	transition: 0.5s ease;
	border: 1px solid rgb(46, 54, 69);
}

#reviews .paddingcontainer .quote .bar .dotContainer div.active {
	background-color: rgb(108, 127, 159);
	border: 1px solid rgba(79, 255, 112, 0.05);
}
/* ------- REVIEWS END ------- */

/* ------- PRODUCTS ------- */
#products {
	height: 400px;
}
