<html lang="en">
<head>
	<title>Mr Mobile Luton</title>
	<meta charset="UTF-8"/>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ url_for('static', filename='js/home.js')}}"></script>

	<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='css/general.css')}}" />
	<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='css/home.css')}}" />
	<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='css/wave.css')}}" />
</head>

<body>
	<img src="{{ url_for('static', filename='css/imgs/placeholder.jpg')}}" id="bgimg" />
	<div class="navbar">
		<div class="buttons">
			<a href="#" class="logo">
				<img border="0" class="logo_img" alt="MrMobile logo" src="{{ url_for('static', filename='imgs/logo.png' )}}" />
			</a>
			<a href="contact">Contact us</a>
			<a href="laptops">Products</a>
			<a href="repairs">Repairs</a>
			<a href="/" class="active">Home</a>
		</div>
	</div>
	<div class="navbar-space"></div>
	<div class="section" id="main">
		<h1 class="fadein">Mr Mobile</h1>
		<h2 class="fadein">The highest quality mobile & laptop repair service in Luton</h2>
		<div class="buttons">
			<div class="buttonContainer">
				<button>Services</button>
				<button>Contact us</button>
			</div>
		</div>
	</div>
	<div class="wave"></div>
	<div class="wave faded"></div>
</body>
</html>
